/* css styles */

.definition{
background-color: rgba(30,144,255,.05);
border-left: 2px solid midnightblue;
padding-left: .5em;
padding-right: .5em;
padding-bottom:  .25em;
}

.exercise{
background-color: rgba(255,140,0,.05);
border-left: 2px solid darkorange;
padding-left: .5em;
padding-right: .5em;
padding-bottom:  .25em;
}